@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;800&display=swap');

html, body{
    margin: 0;
    height: 100%;
    overflow: hidden
}

body{
    margin: 0px;
    width: 100%;
    height: 100%;
    background-image: url('../assets/bluestars.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    backdrop-filter: brightness(30%);
    font-family: 'Rubik', sans-serif;
    color:aliceblue;
}

header{
    position:absolute;
    font-size: 50px;
    z-index: 2;
    top:10px;
    left:20px;
}

#earth_div {
	height: 100%;
}