<!DOCTYPE HTML>
<html>
  <head>
    <title>HTQ - MPB</title>
    <script src="http://www.webglearth.com/v2/api.js"></script>
    <script src="{{ url_for('static',filename='mapping.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static',filename='mappingStyles.css') }}">
  </head>
  <body onLoad="initializeMap()">
      
      <div id="earth_div"></div>
      <header><img src="{{url_for('static',filename='assets/logoCropped.png')}}" style="width: 120px;"></header>
  </body>
</html>



 <!--https://github.com/bjorn/tiled/wiki/JSON-Map-Format
	  https://www.maptiler.com/how-to/dropbox/
	 old https://api.mapbox.com/styles/v1/starswap/ciwqj903b002a2qqrd7hxx040/tiles/256/{z}/{x}/{y}?access_token=pk.eyJ1Ijoic3RhcnN3YXAiLCJhIjoiY2l3cWVpaHp0MDAwYzJ3bGxvNmFzbWtxZiJ9.DdzWiexFsKv0ghcxEJXPvQ
	 moon https://api.mapbox.com/styles/v1/starswap/ciwqjrmq600co2qqyvh6lsl8o/tiles/256/{z}/{x}/{y}?access_token=pk.eyJ1Ijoic3RhcnN3YXAiLCJhIjoiY2l3cWVpaHp0MDAwYzJ3bGxvNmFzbWtxZiJ9.DdzWiexFsKv0ghcxEJXPvQ
	 sat https://api.mapbox.com/styles/v1/starswap/ciwqf81z700b12pnxpuvdcgdu/tiles/256/{z}/{x}/{y}?access_token=pk.eyJ1Ijoic3RhcnN3YXAiLCJhIjoiY2l3cWVpaHp0MDAwYzJ3bGxvNmFzbWtxZiJ9.DdzWiexFsKv0ghcxEJXPvQ
	cool https://api.mapbox.com/styles/v1/starswap/ciwqktlti00282qldewk9ouvu/tiles/256/{z}/{x}/{y}?access_token=pk.eyJ1Ijoic3RhcnN3YXAiLCJhIjoiY2l3cWVpaHp0MDAwYzJ3bGxvNmFzbWtxZiJ9.DdzWiexFsKv0ghcxEJXPvQ -->
  